<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RemoteHealthDataProvider" connectionString="metadata=res://*/RemoteHealth.csdl|res://*/RemoteHealth.ssdl|res://*/RemoteHealth.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=remoteHealth;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>